{% extends 'base.html.twig' %}

{% block title %}Modifier l'Espèce{% endblock %}

{% block body %}
   <h1>Modifier l'Espèce</h1>

    {{ include('espece/_form.html.twig', {'button_label': 'appliquer'}) }}

    <a href="{{ path('espece_index') }}">retour à la liste</a>

    {{ include('espece/_delete_form.html.twig') }}
{% endblock %}
