{% extends 'base.html.twig' %}

{% block title %}Modifier la Zone{% endblock %}

{% block body %}
    <h1>Modifier la Zone</h1>

    {{ include('zone/_form.html.twig', {'button_label': 'appliquer'}) }}

    <a href="{{ path('zone_index') }}">retour à la liste</a>

    {{ include('zone/_delete_form.html.twig') }}
{% endblock %}
